.question-container {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #e4e6e8;
  border-bottom: 1px solid #e4e6e8;
  padding-top: 20px;
  padding-bottom: 20px;

  & .question-voting {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 15px;
    & .up-arrow, & .down-arrow {
      color: #bbc0c4;
    }

    & .question-score {
      color: #6a737c;
      font-size: 21px;
    }
  }

  & .question-main {
    flex-grow: 1;

    & .question-tags {
      padding: 0px 2px;
      margin-top: 5px;
      & .question-tag {
          display: inline-block;
          font-size: 12px;
          color: #39739d;
          background-color: #E1ECF4;
          border-radius: 3px;
          margin-right: 3px;
          padding: 4.8px 6px;
          &:hover {
            color: #33658a;
            background-color: #cee0ed;
          }
        }
    }
    & .question-body {
      font-size: 15px;
    }
    & .question-footer {
      margin-top: 16px;
      padding-top: 4px;
      padding-bottom: 8px;
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid #eff0f1;

      & .question-buttons {
        flex-grow: 1;
        padding-left: 3px;
         & .question-delete-btn {
          color: #848d95;
          &:hover {
            color: #3b4045;
          }
        }
      }

      & .question-user {
        padding: 10px;
        background: rgb(227,236,243);
      }
    }
  }
}