.header-logo {

  &:hover {
    background-color: rgba(239,240,241,0.75);
  }
  & img {
    object-fit: contain;
    height: 100%;
  }
}

.header-user-dash {
  & > a {
    // Padding allows for larger clickable area on link.
    padding: 16px;    
    margin-right: $so-header-icon-margin-right;
    // Align text inside a using flex
    display: flex;
    align-items: center;
    height: 100%;
    vertical-align: middle;
    font-weight: 700;
    flex: 1;
    &:hover {
      background-color: $so-header-user-dash-hover-background-color;
    }
  }
}

.header-signup-btn {
  @extend %button-padding;
  height: 33px;
}

.header-logout-btn {
  @extend %button-padding;
  height: 33px;
}

.header-login-link {
  @extend %button-padding;
  padding: 8px;
  color: #07C;
  margin-right: $so-header-icon-margin-right;
  // Center text vertically & horizontally  
  display: flex;
  align-items: center;
  &:hover {
    color: #005999; //TEMP: from inspector
    background-color: rgba(0,119,204,0.1);//TEMP: from inspector
    border-radius: 3px;
  }
}

