.left-nav-bar-link {
  color: $so-left-nav-bar-text-normal-color;
  &:hover {
    color: $so-left-nav-bar-text-hover-color;
    cursor: pointer;
  }
}

.left-nav-bar-current-tab {
  font-weight: 700;
  background-color: rgba(12,13,14,0.05);
  color: #0C0D0E;
  border-right: 3px solid #F48024;
}