/* Layout using CSS Grid */

$so-header-top-border-width: 3px;
$so-header-height: 50px;
$so-header-off-white-color: #fafafb; // TEMP: CONFIRMED from element inspector
$so-left-nav-unselected-color: #535a60; // TEMP: CONFIRMED from element inspector
$so-left-nav-selected-color: #0C0D0E; // TEMP: TO BE CONFIRMED

// Inheritance for extension
%top-bar-item {
  // Set properties to be extended in all header items.
  border-top: 
    $so-header-top-border-width
    solid
    $so-orange-color; // TEMP: Test
  background-color: $so-header-off-white-color;
  box-shadow: 0 1px 0 rgba(12,13,14,0.05), 0 1px 6px rgba(59,64,69,0.05); // TEMP: box-shadow cubic-bezier(.165, .84, .44, 1) .25s  

  // Allow floating header.
  position: sticky;
  top: 0;  
  z-index: 10; // Should go over content that scrolls beneath.
}

.page {
  // Define grid
  display: grid; 
  grid-template-rows: $so-header-height auto auto;
  grid-template-columns: 164px auto 280px;
  grid-template-areas:
    "item-a-header-logo  item-b-header-search-bar item-c-header-buttons"
    "item-d-left-nav-bar item-e                   item-f"
    "footer              footer                   footer";
}

.item-a-header-logo {
  @extend %top-bar-item;
  @include set-dev-borders(purple);
  grid-row-start: 1;
  grid-column-start: 1;
  display: flex;
}

.item-b-header-search-bar {
  @extend %top-bar-item;
  @include set-dev-borders(green);  
  grid-row-start: 1;
  grid-column-start: 2;
  display: flex;
  align-content: center;

  & > input {
    background-color: #fff;
    border: 1px solid #bbc0c4; // TEMP: from inspector
    border-radius: 3px;
    padding: 8px 9px;
    margin: 5px;
  }  
}

.item-c-header-buttons {
  @extend %top-bar-item;
  @include set-dev-borders(brown);    
  grid-row-start: 1;
  grid-column-start: 3;
  display: flex;
  padding: 2px;
  justify-content: flex-end
}

.item-d-left-nav-bar {
  @include set-dev-borders(orange);  
  grid-row-start: 2;
  grid-column-start: 1;
  top: $so-header-height; // FIXME: WHY DOES THIS OVERLAP?
  position: fixed;
  top: 50;
  z-index: 100; // Float above any content that scrolls left
}

.item-ef-session {
  @include set-dev-borders(red);
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 4;
  z-index: 200;

  padding: 20px; // So that session form does not hit inside edges
}

.item-e-questions {
  grid-row-start: 2;
  grid-column-start: 2;
  z-index: 50;
}

.item-f-sidebar {
  grid-row-start: 2;
  grid-column-start: 3;
  background-color: yellowgreen;
  z-index: 50;
  margin: 0 auto;
}

footer {
  grid-area: footer;
  @include set-dev-borders(blue);
}