.questions-index-header {
  display: flex;
  padding-bottom: 27px;
  padding-left: 24px;
}

.questions-index-headline {
  flex-grow: 1;
  font-size: 27px;
  padding-bottom: 27px;
}

.sort-btns {
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-end;
}

.sort-btn {
  border: 1px solid #adb3b9;
  border-radius: 0;
  padding: .8em;
  color:#6a737c;
  background-color: rgba(187,192,196,0);
  &:hover {
    background-color: rgba(183,192,200,0.05);
    box-shadow: 0 0 0 0 rgba(145,153,161,0);
    border-color: #adb3b9;
    color:#3b4045;
  }
}

.sort-btn-selected {
  background-color: rgba(174, 192, 209, 0.25);
  &:hover {
      color:#6a737c;

    background-color: rgba(174, 192, 209, 0.25);
  }
}

.votes-sort-btn {
  border-right-width: 0px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.newest-sort-btn {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.ask-question-link {
  line-height: 15px;
  height: 38px;
  padding: 10.4px;
  white-space: nowrap;
}

.all-questions-page-control {
  margin-bottom: 16px;
}

.question-list-item {
  display: flex;
  padding: 12px 8px;
  border-top: 1px solid #eff0f1;
  border-bottom: 1px solid #eff0f1;
  & .question-stats {
    display: flex;
    flex-direction: row;
    padding-right: 8px;
    & .question-stat {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 50px;
      padding: 6px;
      & .stat-count {
        color: #6a737c;
        font-size: 17px;
      }

      & .stat-name {
        font-size: 11px;
        color: #848d95;
      }
    }

    & .votes {
      width: 50px;
      margin-right: 3px;
    }

    & .answers {
      width: 58px;
      margin-right: 3px;
    }

    & .views {
      width: 50px;
      margin-right: 7px;
    }

  }

  & .question-summary {
    flex-grow: 1;
    font-size: 16px;
    & a {
      color: $link-text-normal-color;
      &:hover {
        color: $link-text-hover-color;
      }
    }
    & .question-subtitle {
      display: flex;
      justify-content: space-between;

      & .question-author-info {
        & .question-recency-link {
          font-size: 12px;
          color: #9199a1;
          &:hover {
            color: #07C;
          }  
        }

        & .question-user-link {
          font-size: 12px;
          color: #07C;
          &:hover {
            color: #3af;
          }
        }
      }
    }
  }
}
