.ql-container.ql-snow.ql-disabled {
  border: 0px solid #ccc;
}

.ql-editor { 
  min-height: 200px;  
}

.question-body .ql-editor {
  padding-left: 0px;
  min-height: 0;
  font-size: 15px;
}

.answer-main .ql-editor {
  padding-left: 0px;
  min-height: 0;
  font-size: 15px;
}

// codeblock
.ql-snow .ql-editor pre.ql-syntax {
  background-color: #eff0f1;
  color: $codeblock-text-color;
}

// blockquote
.ql-snow .ql-editor blockquote {
  background-color: #fff8dc;
  border-left: 2px solid #ffeb8e;
  margin-bottom: 10px;
  padding: 10px;
}
