.top-questions-header {
  display: flex;
  padding-bottom: 27px;
  padding-left: 24px;
  & .top-questions-headline {
    flex-grow: 1;
    font-size: 27px;
    padding-bottom: 27px;
  }

  & .ask-question-link {
    line-height: 15px;
    height: 38px;
    padding: 10.4px;
  }
}

.question-list-item {
  display: flex;
  padding: 12px 8px;
  border-top: 1px solid #eff0f1;
  border-bottom: 1px solid #eff0f1;
  & .question-stats {
    display: flex;
    flex-direction: row;
    padding-right: 8px;
    & .question-stat {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 50px;
      padding: 6px;
      & .stat-count {
        color: #6a737c;
        font-size: 17px;
      }

      & .stat-name {
        font-size: 11px;
        color: #848d95;
      }
    }

    & .votes {
      width: 50px;
      margin-right: 3px;
    }

    & .answers {
      width: 58px;
      margin-right: 3px;
    }

    & .views {
      width: 50px;
      margin-right: 7px;
    }

  }

  & .question-summary {
    flex-grow: 1;
    font-size: 16px;
    & a {
      color: $link-text-normal-color;
      &:hover {
        color: $link-text-hover-color;
      }
    }
    & .question-subtitle {
      display: flex;
      justify-content: space-between;
      & .question-tags {
        & .question-tag {
          display: inline-block;
          font-size: 12px;
          color: #39739d;
          background-color: #E1ECF4;
          border-radius: 3px;
          margin-right: 3px;
          padding: 4.8px 6px;
          &:hover {
            color: #33658a;
            background-color: #cee0ed;
          }
        }
      }

      & .question-asker-info {
        & .question-recency-link {
          font-size: 12px;
          color: #9199a1;
          &:hover {
            color: #07C;
          }  
        }

        & .question-user-link {
          font-size: 12px;
          color: #07C;
          &:hover {
            color: #3af;
          }
        }
      }
    }
  }
}
