.app {
  display: grid;
}

.nav {
  /* grid-area: nav; */
  display: flex;
  border-top: 3px solid #F48024;
  height: 50px;
  box-sizing: border-box;
  background-color: #fafafb;
  position: fixed;
  box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 6px rgba(59,64,69,0.1);
  /* box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 6px rgba(59,64,69,0.1);
  
  
  width: 100%;
  
  z-index: 10; */
}