/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

// Import resets before overrides
@import "reset";
// Import global definitions
@import "define";

// Application wide styles
body {
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	font-size: 13px;
	// TODO: CHECK line-height: 1.26666667;
	color: #242729;
}

p {
	margin-bottom: 1em;
}

button,
input[type='submit'] {
	cursor: pointer;	
}

.primary-btn {
	color: #fff; // TEMP: from inspector
	background-color: #0095ff; // TEMP: from inspector
	border: 1px solid #07c;
	box-shadow: inset 0 1px 0 0 rgba(102,191,255,0.75), 0 0 0 0 rgba(0,149,255,0);
	border-radius: 4px; // TEMP: from inspector
	font-weight: 400;
}

.primary-btn:hover {
  color: rgba(255,255,255,0.9);
  background-color: #07c;
  box-shadow: inset 0 1px 0 #3af;
  border-color: #005999;
}

.primary-btn:active {
  color: rgba(255,255,255,0.9);
  background-color: #0068b3;
  box-shadow: inset 0 1px 0 #3af;
  border-color: #005999;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $so-placeholder-color;
  opacity: 1; /* Firefox */
}

.svg-icon {
	fill: currentColor;
}

// Styles voting arrow color if user
// previously voted
.current-user-vote {
	color: $so-princeton-orange-color !important; 
}

// Put additional imports after application wide styles

@import "page";
@import "session";
@import "top_questions";
@import "ask_question";
@import "popup";
@import 'react-quill/dist/quill.snow';
@import 'quill_overrides';
@import "question_page";
@import "user";
@import "search_bar";
@import "search_page";
@import "tags_page";
@import "users_index_page";
@import "badges";
@import "page_control";
@import "errors";
