.header-container {
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/sandpaper.png");
  border: 5px solid yellow; // TODO: REMOVE
  display: flex;
  justify-content: space-between;
}

.logo {
  background-color: cyan;
}

.session-btn {
  background-color: green;
}