.user-show-page {
  padding-left: 24px;
}

.user-show-page-panels {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
    "questions answers"
    "badges votes";
  grid-column-gap: 10px;
}

.user-show-page-question-panel {
   grid-area: questions;
}

.user-show-page-answer-panel {
   grid-area: answers;
}

.user-show-page-badge-panel {
   grid-area: badges;
}

.user-show-page-gold-badge-text {
  background-color: #fffae6;
  padding: 4px 8px;
  border: 1px solid #ece5c6;
  border-radius: 2px;
}

.user-show-page-silver-badge-text {
  background-color: #eaebec;
  padding: 4px 8px;
  border: 1px solid #dddee0;
  border-radius: 2px;
}

.user-show-page-bronze-badge-text {
  background-color: #f8e9dd;
  padding: 4px 8px;
  border: 1px solid #f0decb;
  border-radius: 2px;
}

.user-show-page-panel-header {
  font-size: 15px;
  font-weight: 700;
  border-bottom: 1px solid #c8ccd0;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 8px;
}

.user-show-page-panel-list-item {
  display: flex;
  padding: 4px;
}


.user-show-page-list-item-mini-count {
  font-size: 12px;
  font-weight: normal;
  line-height: 1.3;
  text-align: center;
  color: #6a737c;
  min-width: 36px;
  height: auto;
  padding: 3px 6px;
  margin-right: 10px;
  display: inline-block;
  border: 1px solid #b9b9b9;
  border-radius: 2px;
}

.user-show-page-panel-list-item-link {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.3;
  display: block;
  max-width: 425px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color:#07C;
  &:hover {
    color: #3af;
  }
}

.user-show-page-panel-count {
  font-weight: 400;
  font-size: 15px;
  color: #6a737c;
}