// author box for questions and answers on question show page
.author {
  width: 200px;
}

.author-display-name-link {
  display: block;
  font-size: 14px;
  color: #07C;
  &:hover {
    color: #3af;
  }
}


.reputation {
  font-weight: 700;
  font-size: 12px;
}

// questions index
.question-author-reputation {
  font-weight: 700;
  font-size: 12px;
  color: #848d95;
}

// question show
.post-reputation {
  font-weight: 700;
  font-size: 12px;
  color: #848d95;
}

// Gravatar

.gravatar-164 {
  width: 164px;
  height: 164px;
}

.gravatar-48 {
  width: 48px;
  height: 48px;
}

.gravatar-32 {
  width: 32px;
  height: 32px;
}

.gravatar-24 {
  width: 24px;
  height: 24px;
}

.gravatar-float {
  float: left;
  margin-right: 8px;
}

// User Info Box

.user-info-box-li {
  list-style: none;
}

.user-info-box-gravatar {
  box-shadow: 2px 2px 4px rgba(12,13,14,0.5);
}

.user-info-box-display-name-link {
  font-size: 14px;
  color: #07C;
  &:hover {
    color: #3af;
  }
}

.user-info-box-user-location {
  color: #6a737c;
}

.user-info-box-user-reputation {
  font-weight: 700;
  color: #6a737c;
}